/* border-raduis = .5em gives best curve around corners to match keyboard buttons */
#pad1{
    position: absolute;
    background-color: inherit;
    border-radius: .5em;
    width: 4.9em;
    height: 4.67em;
    left: 7.03em;
    top: 10.18em;
}
#pad2{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 12.76em;
  top: 10.18em;
}
#pad3{
    position: absolute;
    background-color: inherit;
    border-radius: .5em;
    width: 4.9em;
    height: 4.67em;
    left: 18.49em;
    top: 10.18em;
}
#pad4{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 24.22em;
  top: 10.18em;
}
#pad5{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 29.96em;
  top: 10.18em;
}
#pad6{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 35.71em;
  top: 10.18em;
}
#pad7{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 41.46em;
  top: 10.18em;
}
#pad8{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 47.21em;
  top: 10.18em;
}
#pad9{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 52.96em;
  top: 10.18em;
}
#pad0{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 58.71em;
  top: 10.18em;
}
#padDash{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 64.46em;
  top: 10.18em;
}
#padEquals{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 70.21em;
  top: 10.18em;
}
#padQ{
    position: absolute;
    background-color: inherit;
    border-radius: .5em;
    width: 4.9em;
    height: 4.67em;
    left: 9.87em;
    top: 15.8em;
}
#padW{
    position: absolute;
    background-color: inherit;
    border-radius: .5em;
    width: 4.9em;
    height: 4.67em;
    left: 15.62em;
    top: 15.8em;
}
#padE{
    position: absolute;
    background-color: inherit;
    border-radius: .5em;
    width: 4.9em;
    height: 4.67em;
    left: 21.37em;
    top: 15.8em;
}
#padR{
    position: absolute;
    background-color: inherit;
    border-radius: .5em;
    width: 4.9em;
    height: 4.67em;
    left: 27.12em;
    top: 15.8em;
}
#padT{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 32.87em;
  top: 15.8em;
}
#padY{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 38.62em;
  top: 15.8em;
}
#padU{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 44.37em;
  top: 15.8em;
}
#padI{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 50.12em;
  top: 15.8em;
}
#padO{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 55.87em;
  top: 15.8em;
}
#padP{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 61.62em;
  top: 15.8em;
}
#padA{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 11.3em;
  top: 21.37em;
}
#padS{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 17.05em;
  top: 21.37em;
}
#padD{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 22.8em;
  top: 21.37em;
}
#padF{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 28.55em;
  top: 21.37em;
}
#padG{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 34.3em;
  top: 21.37em;
}
#padH{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 40.05em;
  top: 21.37em;
}
#padJ{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 45.8em;
  top: 21.37em;
}
#padK{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 51.55em;
  top: 21.37em;
}
#padL{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 57.3em;
  top: 21.37em;
}
#padZ{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 14.2em;
  top: 26.94em;
}
#padX{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 19.95em;
  top: 26.94em;
}
#padC{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 25.7em;
  top: 26.94em;
}
#padV{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 31.45em;
  top: 26.94em;
}
#padB{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 37.2em;
  top: 26.94em;
}
#padN{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 42.95em;
  top: 26.94em;
}
#padM{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 4.9em;
  height: 4.67em;
  left: 48.7em;
  top: 26.94em;
}

/*Function Keys*/
#padShiftLeft{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 12.1em;
  height: 4.67em;
  left: 1.2em;
  top: 26.94em;

  text-align: center;  
}
#padShiftRight{
  position: absolute;
  background-color: inherit;
  border-radius: .5em;
  width: 12em;
  height: 4.67em;
  left: 71.7em;
  top: 26.94em;

  text-align: center;
}


#pad1:hover, #pad2:hover, #pad3:hover, #pad4:hover, #pad5:hover, #pad6:hover, #pad7:hover, #pad8:hover, #pad9:hover, #pad0:hover, #padDash:hover, #padEquals:hover, #padQ:hover, #padW:hover, #padE:hover, #padR:hover, #padT:hover, #padY:hover, #padU:hover, #padI:hover, #padO:hover, #padP:hover, #padA:hover, #padS:hover, #padD:hover, #padF:hover, #padG:hover, #padH:hover, #padJ:hover, #padK:hover, #padL:hover, #padZ:hover, #padX:hover, #padC:hover, #padV:hover, #padN:hover, #padM:hover, #padShiftRight:hover, #padShiftLeft:hover{
    background-color: aliceblue;
    cursor: pointer;
}
