/* ------------------------------------------------------------------------------------------------------
                                                Main Screen
------------------------------------------------------------------------------------------------------ */
body{
line-height: 1;
height: 100%;
width: 100%;
overflow: hidden;
}

#info{
    width: 80em;
    float: top;
    left: 2em;
    position: absolute;
    z-index: 1;

	width: 100%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.99;
  color: black;
}

#pad{
    position: absolute;
    width: 85em;
    pointer-events: none;
}

#outline{
  position: absolute;
  pointer-events: none;
  z-index: 3;
  top: 9.3em;
  height: 38.85em;
  left: 6.2em;
  width: 84.5em;
}


.hovering:hover{
    background-color: white;
    cursor: pointer;
}

.active:active{
    background-color:floralwhite;
}

.killswitch{
  z-index: 2;
  position: absolute;
  border-radius: .5em;
  width: 12.1em;
  height: 4.67em;
}

#kill1{
  top: 27em;
  left: 1.24em;
}

#kill2{
  top: 27em;
  left: 71.62em;
}

#editPad{
    position: absolute;
    background-color: darkgrey;
    width: 140px;
    border-radius: 10px;
    height: 50px;
    right: 200px;
    top: 33px;
    text-align: center;
    z-index: 3;
}
#editPad:hover{
    background-color: aliceblue;
    cursor: pointer;
}
#editPad:active{
    background-color: azure;
}
/* ------------------------------------------------------------------------------------------------------
                                                Edit Screen
------------------------------------------------------------------------------------------------------ */

#editNotice{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 140%;
    bottom: 4px;
    color:deepskyblue;
    z-index: 4;
}

#songSelection{
    position: absolute;
    height: 500px;
    top: 10%;
    margin-left: 10%;
    width: 80%;
    border: 5px solid white;
    background-color: aliceblue;
    z-index: 8;
}

#exitEditing{
    height: 30px;
    width: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 8;
}

#selectionUL{
    width: 100px;
    margin-right: 10px;
    font-size: 80%;
    display: inline-block;
    border: 1px solid black;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    z-index: 8;
}

#editInfo{
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 8;
}




/* ------------------------------------------------------------------------------------------------------
                                                noUISlider
------------------------------------------------------------------------------------------------------ */



#volume {
    background-color: ghostwhite;
    height: 200px;
    position: absolute;
    right: 83px;
    z-index: 5;
    top: 290px;
}

/* ------------------------------------------------------------------------------------------------------
                                                Volume levels
------------------------------------------------------------------------------------------------------ */
.volumeLevel0{
}
.volumeLevel1{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: .54em;
  left: 73.1em;
  top: 37.4em;
  z-index: 1;
}
.volumeLevel2{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: 1.08em;
  left: 73.1em;
  top: 36.9em;
  z-index: 1;
}
.volumeLevel3{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: 1.62em;
  left: 73.1em;
  top: 36.36em;
  z-index: 1;
}
.volumeLevel4{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: 2.16em;
  left: 73.1em;
  top: 35.8em;
  z-index: 1;
}
.volumeLevel5{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: 2.7em;
  left: 73.1em;
  top: 35.3em;
  z-index: 1;
}
.volumeLevel6{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: 3.24em;
  left: 73.1em;
  top: 34.75em;
  z-index: 1;
}
.volumeLevel7{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: 3.78em;
  left: 73.1em;
  top: 34.2em;
  z-index: 1;
}
.volumeLevel8{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: 4.32em;
  left: 73.1em;
  top: 33.67em;
  z-index: 1;
}
.volumeLevel9{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: 4.86em;
  left: 73.1em;
  top: 33.13em;
  z-index: 1;
}
.volumeLevel10{
  position: absolute;
  background-color: greenyellow;
  border-radius: .5em;
  width: 4.86em;
  height: 5.4em;
  left: 73.1em;
  top: 32.6em;
  z-index: 1;
}