/* ------------------------------------------------------------------------------------------------------
                                                Main Screen
------------------------------------------------------------------------------------------------------ */
body{
background-color: black;
line-height: 1;
}

#info{
    width: 450px;
    color: white;
    float: left;
    padding-left: 10px;
}

#pad{
    position: absolute;
    font-size: 36px;
    text-align: center;
    width: 800px;
    right: 0;

}

.row1, .row2, .row3, .row4{
/*background-color: black;*/
}

#pad16{
    position: absolute;     font-size: 36px;     text-align: center;
    font-size: 36px;
    text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 253px;
    top: 54px;
}
#pad15{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 386px;
    top: 54px;
}
#pad14{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 519px;
    top: 54px;
}
#pad13{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 652px;
    top: 52px;
}
#pad12{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 254px;
    top: 187px;
}
#pad11{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 386px;
    top: 187px;
}
#pad10{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 519px;
    top: 187px;
}
#pad9{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 651px;
    top: 187px;
}
#pad8{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 254px;
    top: 320px;
}
#pad7{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 386px;
    top: 320px;
}
#pad6{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 519px;
    top: 320px;
}
#pad5{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 651px;
    top: 320px;
}
#pad4{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 254px;
    top: 450px;
}
#pad3{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 386px;
    top: 450px;
}
#pad2{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 519px;
    top: 450px;
}
#pad1{
    position: absolute;     font-size: 36px;     text-align: center;
    background-color: inherit;
    width: 107px;
    height: 108px;
    right: 651px;
    top: 450px;
}
#pad16:hover, #pad15:hover, #pad14:hover, #pad13:hover, #pad12:hover, #pad11:hover, #pad10:hover, #pad9:hover, #pad8:hover, #pad7:hover, #pad6:hover, #pad5:hover, #pad4:hover, #pad3:hover, #pad2:hover, #pad1:hover{
    background-color: aliceblue;
    cursor: pointer;
}


.hovering:hover{
    background-color: white;
    cursor: pointer;
}

.active:active{
    background-color:floralwhite;
}

#keyHint{
    position: absolute;
    width: 37px;
    height: 14px;
    right: 112px;
    top: 147px;
}

#colorChange{
    position: absolute;
    width: 37px;
    height: 14px;
    right: 34px;
    top: 147px;
    z-index: 3;
}

#editPad{
    position: absolute;
    width: 37px;
    height: 14px;
    right: 34px;
    top: 83px;
    z-index: 3;
}

/* ------------------------------------------------------------------------------------------------------
                                                Edit Screen
------------------------------------------------------------------------------------------------------ */

#editNotice{
    position: absolute;
    right: 200px;
    font-size: 140%;
    bottom: 40px;
    color: white;
    z-index: 4;
}

#songSelection{
    position: absolute;
    height: 500px;
    top: 10%;
    margin-left: 10%;
    width: 80%;
    border: 5px solid white;
    background-color: aliceblue;
    z-index: 1;
}

#exitEditing{
    height: 30px;
    width: 70px;
    position: absolute;
    bottom: 0;
    right: 0;

}

#selectionUL{
    width: 100px;
    margin-right: 10px;
    font-size: 80%;
    display: inline-block;
    border: 1px solid black;
    list-style-type: none;
    text-align: center;
    padding-left: 0;

}

#editInfo{
    position: absolute;
    bottom: 0px;
    left: 0px;
}




/* ------------------------------------------------------------------------------------------------------
                                                noUISlider
------------------------------------------------------------------------------------------------------ */

#red, #green, #blue {
	margin: 10px;
	display: inline-block;
	height: 200px;
}

#colorpicker {
	height: 240px;
	width: 310px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #BFBFBF;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#result {
	margin: 60px 26px;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
	color: rgb(127, 127, 127);
	background: rgb(127, 127, 127);
	border: 1px solid #fff;
	box-shadow: 0 0 10px;
}

#red {
	background: #c0392b;
}

#green {
	background: #27ae60;
}

#blue {
	background: #2980b9;
}

#volume {
    background-color: ghostwhite;
    height: 200px;
    position: absolute;
    right: 83px;
    z-index: 5;
    top: 290px;
}
