<!--Divs of all pads with letters wrapped in view and function to play-->
<!-- Row One   -->
    <div id="pad1" ng-click="padplay('pad1')"></div>
    <div id="pad2" ng-click="padplay('pad2')"></div>
    <div id="pad3" ng-click="padplay('pad3')"></div>
    <div id="pad4" ng-click="padplay('pad4')"></div>
    <div id="pad5" ng-click="padplay('pad5')"></div>
    <div id="pad6" ng-click="padplay('pad6')"></div>
    <div id="pad7" ng-click="padplay('pad7')"></div>
    <div id="pad8" ng-click="padplay('pad8')"></div>
    <div id="pad9" ng-click="padplay('pad9')"></div>
    <div id="pad0" ng-click="padplay('pad0')"></div>
    <div id="padDash" ng-click="padplay('padDash')"></div>
    <div id="padEquals" ng-click="padplay('padEquals')"></div>
<!-- Row Two -->
    <div id="padQ" ng-click="padplay('padQ')"></div>
    <div id="padW" ng-click="padplay('padW')"></div>
    <div id="padE" ng-click="padplay('padE')"></div>
    <div id="padR" ng-click="padplay('padR')"></div>
    <div id="padT" ng-click="padplay('padT')"></div>
    <div id="padY" ng-click="padplay('padY')"></div>
    <div id="padU" ng-click="padplay('padU')"></div>
    <div id="padI" ng-click="padplay('padI')"></div>
    <div id="padO" ng-click="padplay('padO')"></div>
    <div id="padP" ng-click="padplay('padP')"></div>
<!-- Row Three -->
    <div id="padA" ng-click="padplay('padA')"></div>
    <div id="padS" ng-click="padplay('padS')"></div>
    <div id="padD" ng-click="padplay('padD')"></div>
    <div id="padF" ng-click="padplay('padF')"></div>
    <div id="padG" ng-click="padplay('padG')"></div>
    <div id="padH" ng-click="padplay('padH')"></div>
    <div id="padJ" ng-click="padplay('padJ')"></div>
    <div id="padK" ng-click="padplay('padK')"></div>
    <div id="padL" ng-click="padplay('padL')"></div>
<!-- Row Four -->
    <div id="padZ" ng-click="padplay('padZ')"></div>
    <div id="padX" ng-click="padplay('padX')"></div>
    <div id="padC" ng-click="padplay('padC')"></div>
    <div id="padV" ng-click="padplay('padV')"></div>
    <div id="padB" ng-click="padplay('padB')"></div>
    <div id="padN" ng-click="padplay('padN')"></div>
    <div id="padM" ng-click="padplay('padM')"></div>
